*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-family: 'Noto Sans Mono', monospace;
    
    
}
h2{
    font-family: 'Press Start 2P';
    font-size: 2rem;
    padding: 2rem;
    
}
 span{
    animation:blink 1s linear infinite ;
    font-weight:normal;
    font-family: 'Noto Sans Mono', monospace; 
} 


@keyframes blink{
    0%{opacity: 0;}
}

#time{
    height: 200px;
   
    
}

.clouds-top{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.clouds-bottom{
    position:absolute;
    right: 0;
    bottom: 0;
    width: 100%;
}

.getting-rich{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center ;
}

.countdown{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: center;
}

.subtitles{
    font-weight:normal;
}
.day,.hour,.minute,.second{
    font-size: 1.7rem;
}

#time:hover{
    height: 250px;
    transition: 1050ms;
    transform: rotate(360deg);
}