*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

h3{
    font-family: 'Noto Sans Mono', monospace;
}
h2{
    font-family: 'Press Start 2P';
}

#time{
    height: 200px;
}

.clouds-top{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.clouds-bottom{
    position:absolute;
    right: 0;
    bottom: 0;
    width: 100%;

}